/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

/* Sidebar styles */
#Sidebar {
  width: 6.67%; /* 1/15 width of screen */
  background-color: #d9d9d9; /* slate-800 equivalent */
  height: 100vh;
  overflow: auto; /* Ensure content is scrollable if too long */
}

#Sidebar ul {
  list-style-type: none;
  padding: 0;
}

#Sidebar li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button styles */
.btn.sidebar {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 3.5vw; /* Adjusted for better scaling */
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease; /* Unified transition */
}

/* Hover effect for button */
.btn.sidebar:hover {
  color: #51627d; /* Change to this color on hover */
}
/* ボタンがアクティブなとき（クリックされたとき）のスタイル */
.btn.sidebar.display {
  color: #51627d; /* クリック時の背景色 */
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease; /* Unified transition */
}

/* Icon and title styles */
.btn.sidebar div {
  margin-top: 3px; /* Space between icon and title */
}

.btn.sidebar p {
  margin: 0;
  font-size: 6px; /* Adjusted font size */
  margin-bottom: 3px;
} /* Map container and input styles */

.map-container {
  position: relative;
  width: 100%;
  height: 100vh; /* 画面の高さ全体を使う */
}

.map-input {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10; /* z-indexを高く設定し、マップよりも前面に表示 */
  padding: 8px;
  font-size: 16px;
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.5); /* 半透明の白い枠線 */
  border-radius: 4px;
  backdrop-filter: blur(10px); /* 背景をぼかす効果 */
  color: black; /* テキストの色 */
}

.map-input::placeholder {
  color: rgba(0, 0, 0, 0.5); /* プレースホルダーテキストの色を薄くする */
}

/* 検索結果を入力ボックスの下に表示 */
.shop-results {
  position: absolute;
  top: 45px; /* map-inputの下に表示するため、適切な距離を調整 */
  left: 10px;
  z-index: 9; /* map-inputよりも後ろに表示 */
  background-color: rgba(255, 255, 255, 0.9); /* 背景を半透明にする */
  padding: 10px;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); /* 軽い影を追加 */
}

.shop-result-item {
  margin-bottom: 10px;
}
.shop-result-item:hover{
  color:#51627d
}
.map-ref {
  width: 100%;
  height: 100vh; /* 画面の高さ全体を使う */
}
